.auth-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    position: relative;
    z-index: 1000;
  }
  
  .auth-title {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .auth-button {
    width: 100%;
  }
  
  .alert {
    margin-bottom: 15px;
  }
  

  